<div class="control-panel mt-3 ms-5">

  <div class="title d-flex mb-4">
    <h2 class="me-auto">Control panel</h2>
   </div>
  <div class="d-flex mb-4">
    <button routerLink="/dashboard/edition/new" class="ms-auto btn btn-dark">Add laptop</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Laptop</th>
        <th scope="col">Price</th>
        <th scope="col"><span class="ms-4">Actions</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let laptop of tenLaptops">
        <td class="d-flex" scope="row">
          <div class="image" [ngStyle]="{ 'background-image': 'url('+ laptop.image +')'}"></div>
          <p class="pt-3 ms-3">{{laptop.brand}} {{laptop.model}}</p>
        </td>
        <td class="text-data">{{laptop.price}} €</td>

        <td class="text-data actions"><a class="edit-icon" (click)="editLaptop(laptop.id)"><img class="icon me-4" src="../../../../assets/icons/edit.svg"></a> <a class="delete-icon" (click)="deleteLaptop(laptop.id)"><img class="icon me-3" src="../../../../assets/icons/eliminar.svg"></a></td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-5">
      <li class="page-item">
        <a class="page-link" (click)="goPrePage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let item of pages; let p = index" class="page-item" [ngClass]="{'active': item == page}"><a class="page-link" (click)="goPage(item)">{{item}}</a></li>
      <li class="page-item">
        <a class="page-link" (click)="goPostPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  </div>

