<footer>
  <div class="logo-rrss">
      <div class="logo-footer">
          <a href="#">
            <img src="../../../assets/icons/laptcom_icon.png" alt="Logo laptcom">
          </a>
      </div>
      <div class="rrss">
          <ul class="nav-rrss">
              <li><a href="#" class="facebook"><i class="fab fa-facebook-square fa-lg"></i></a></li>
              <li><a href="#" class="instagram"><i class="fab fa-instagram fa-lg"></i></a></li>
              <li><a href="#" class="twitter"><i class="fab fa-twitter-square fa-lg"></i></a></li>
          </ul>
      </div>
  </div>
  <hr class="container">
  <div class="copyright-terms">
      <div class="copyright">
          <span>© 2021 Laptcom</span>
      </div>
      <div class="terms">
          <!-- <ul class="nav-terms">
              <li class="link"><a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sobre nosotros</a></li>
              <li class="link"><a routerLink="/privacy-policy" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Política de privacidad</a></li>
              <li class="link"><a routerLink="/legal-notice" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Aviso legal</a></li>
          </ul> -->
      </div>
  </div>
</footer>
