.admin-panel{

  margin-right: 3rem;

  label{
    font-weight: 500;
  }
  input{
    background: #EAEAEA;
    border: none;
    border-radius: 0.5rem;
  }



  .icon{
    filter: invert(39%) sepia(16%) saturate(15%) hue-rotate(321deg) brightness(88%) contrast(83%);
    width: 25px;
    height: 25px;
  }

  .image{
    background: url("../../../../assets/images/perfil.jpg");
    margin-top: 0.25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 12rem;
    height: 12rem;
  }



}


